{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "RedisSettings": {
    "Host": "",
    "Port": 6379,
    "Db": 2
  },
  "ServiceApiSettings": {
    "Identity": {
      "BaseUrl": ""
    },
    "Ocelot": {
      "BaseUrl": ""
    },
    "Bff": {
      "BaseUrl": ""
    },
    "Cargo": {
      "BaseUrl": ""
    },
    "Images": {
      "BaseUrl": ""
    },
    "Client": {
      "BaseUrl": ""
    }
  }
}
