{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "GoogleCloud": {
    "ProjectId": "",
    "BucketName": "",
    "CredentialsPath": "",
    "MaxFileSizeBytes": 5242880
  },
  "IdentityServerUrl": ""
}
